.main-container {
  width: 100%;
  height: 100%;
  /* if you want to center a div you need to set its width and then set
  its left and right margin to auto */
  margin: auto;

  /* using flex to position divs */
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.menu,
.webgl-content {
  align-self: center;
  margin: 2px;
  height: 60%;
}

.menu {
  /* display: inline-block;
  this can be used to easily align two divs one next to another
  but using flexes seems to be a better idea */
  background-color: #000;
  width: 12%;
}

.webgl-content {
  background-color: #0074d9;
  width: 60%;
}

/* this will assign style only to p inside element styled with .menu */
.menu p {
  font-size: 24px;
  margin: 15px 15px 15px 15px;
}

.menu a:hover {
  background: cyan;
}
