/* DASHBOARD LAYOUT */

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  max-width: 1062px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  background: #272727bc;
  color: white;
}

div.topPanel {
  padding: 1rem;
  padding-bottom: 0.5rem;
}

div.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

/* AN ATTMEPT AT UNIFIED FLEX SYSTEM :d */

div.flex {
  display: flex;
  flex-grow: 0;
}

div.flexCol {  
  flex-direction: column;
  flex-basis: 1;
}

div.leftPanel {
  background: #00000056;
  flex-grow: 1;
  margin-right: 0.5rem;
}

div.rightPanel {
  background: #00000056;
  flex-grow: 1;
}

/* DASBOARD CONTENTS */

h2 {
  color: orange;
  padding: 0.5rem;
  margin: 0.5rem;
}

h3 {
  color: orange;
  padding: 2rem;
  margin: 0.5rem;
}

/* NOTIFICATIONS */

ul.notifications {
  background: orange;
  color: black;
}


/* draft js */

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}
