div .container {
  display: flex;
  background: #272727bc;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

div.userPanel {
  padding: 0.9rem;
  padding-top: 0rem;
}

h2 {
  color: orange;
  padding: 0.5rem;
  margin: 0.5rem;
}

h3 {
  color: orange;
  padding: 2rem;
  margin: 0.5rem;
}

/* USER AUTHENTICATION */

div .userAuth label {
  color: white;
}
