h3 {
    color: orange;
    background: #272727bc;
    padding: 2rem;
    margin: 0.5rem;
}

div.editorMenu {
    background: orange;    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

button.editorButton {
    max-width: 20vw;
}