html, body {
	height: 100%;
	background: black;
	overflow-y: scroll; /*to keep the scrollbar always visible*/
}

p.content {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}


.mainNavbar > nav:nth-child(1) {
	background-color: gray;
}

/* TAB HEADER AND ITS CHILDREN */

div.tabHeader {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

button.tabButton {	
	background-color: black;
	border: none;
	outline: none;
	color: white;	
    text-decoration: none;
}

button.titleButton {
	margin-right: auto; /*used to override justify-content; justify-self is cooming soon though*/
	font-size: 1.5em;
    padding: 0.5rem 1rem;
}

button.pageflip {
	font-size: 1em;
	max-width: 20vw;
    padding-right: 2.3rem;
}

button.pageflip:hover {
	text-decoration: underline;
}

button.titleButton:hover {
	border-left: dashed;
	border-width: 0.1em;
}

/* MAIN CSS */

h1 {
	color: white;
	font-size: 0.8em;
}

h1.title {
	font-size: 1em;
	text-align: center;
	padding-bottom: 0.5em;
}

h1.logo {
	margin: 1rem;
}

div.mainNavbar {
	color: aquamarine;
	padding-bottom: 12em
}

h1.dashed {	
	border-bottom: dashed;
	border-width: 0.07em;
}

h1.content {
	font-size: 1.5em;
	text-align: left;
}

h1.vert-centered {
	margin-top: 13vh;
	text-align: center;
}

h1.text-centered {
	text-align: center;
}

p {
	background: black;
	color: white;
	padding: 0.5rem 1rem;
}

p.italic {
	font-style: italic;
}

p.title {
	font-size: 1em;
	padding: 0.4vh 0.75rem;
	text-align: center;
	line-height: 1;
}

/* Manifest paragraph link styling */
p.paragraphLink {
	font-size: 1.2em;
	text-align: center;
	line-height: 1.2;
	margin: 0;
}
/* end */

/* NAVBAR MENU */
div.menuButton {
	color: white;
	border: solid;	
	border-width: 0.07em;	
	margin: 1rem 1rem;
	padding: 0rem;
	width: 20vw;
}

p.menuButton {
	/* lol */
	color: white;
	margin-bottom: 0.15em;
	
}

p.menuButton:hover {
	/* lol */
	color: aquamarine;
	margin-bottom: 0.15em;
}

h1.menuButton {
	font-size: 1.1rem;
	text-align: center;
	border-right: 1rem;	
	text-decoration: underline;
}

/* BOOTSTRAP EDITS BELOW */
a.nav-link {
	padding: 0rem 0rem;
}

.tab-content {	
	background: black;
}

div.card {
	background-color: black;
}

/* pardon i know nothing abut bootstrap */
.navbar-toggler {
	padding: 0;
}

.navbar {
	align-items: normal;
}