/* alt verison FULL SCREEN */

.main-container {
  height: 100%;
  width: 100%;
}

.webgl-content {
  /* should probably add some max-height etc stuff */
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu {
  position: absolute;
}

p {
  color: #0074d9;
}

/* immediate followup will adress only p that are also of class webgl... */
p.webgl-content {
}

/* this will adress p's that are inside of class marked woth webgl... */
p .webgl-content {
}
