html {
  width: 100vw;
  height: 100vh;
}

.root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: #231f20; */
  /* background-color: #171717; */
  background-color: black;
}
